.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: steelblue;
    height: 48px;
    z-index: 100;
}
.tool_nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.tool_logo {
    margin-left: 1rem;
    
}

.tool_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.tool_item a {
    color: white;
    text-decoration: none;
}

.tool_item a:hover,
.tool_item a:active {
    color: black;    
}