.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightblue;
}

.tool_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.tool_item {

}