.toggle_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle_btn:focus {
    outline: none;
}


.line {
    width: 30px;
    height: 2px;
    background: white;
}