@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), url('OpenSans-Regular.woff') format('woff');
}
html {
  height: 100%;
  font-family: 'Open Sans Regular';
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
