.input_container {
    width: 100%;
    display: inline-block;
}

.input_container.third {
    width: 30%
}

@media (max-width: 768px) {
    .input_container.third {
        width: 100%;
        margin-left: 0
    }
}